*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.main{
    display: flex;
    flex-direction: row;
}
.icon{
    width: 80px;
    height: 80px;
    margin: 50px 30px;
    border-radius: 50%;
}

.search{
    width: 550px;
    height: 30px;
    margin: 75px 20px;
    border-radius: 30px;
    border: 1px solid rgb(176, 167, 8);
}

.not-n{
    width: 40px;
    height: 40px;
    margin: 70px 20px;
}

.new-items{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}
.items-img{
    width: 220px;
    height: 260px;
    margin: 20px 20px;
}
.items{
    width: 250px;
    height: 360px;
    margin: 20px 20px;
    border: 0.5px solid black;
    box-shadow: 0 15px 15px 0  rgb(54, 51, 51) ;
    border-radius: 20px;
}
h6{
    width: 120px;
    text-align: center;
    padding-left: 20px;
}

.box{
    width: 30px;
    height: 30px;
    margin-left: 50px;
}

.stick{
    display: flex;
    flex-direction: row;
}

.footer{
    width: auto;
    height: 80px;
    box-shadow: 15px 0 0 15px  rgb(248, 249, 175);
    margin-top: 100px;
    display: flex;
    flex-direction: row;
}

.img-footer{
    width: 60px;
    height: 60px;
    margin-left: 190px;
    margin-top: 5px;
}
.loco{
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.location{
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-top: 30px;
    margin-left: 100px;
}

.shop{
    width: 450px;
    height: 450px;
    margin-top: 15px;
    margin-left: 520px;
}

.button{
    width: 200px;
    height: 30px;
    background-color: rgb(243, 12, 116);
    border: 1px solid rgb(243, 12, 116);
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 630px;
}
.activ{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.katalog{
    display: flex;
    flex-direction: row;
}
.katalog-img{
    width: 220px;
    height: 260px;
    border-radius: 10%;
    margin: 30px 30px;
}
.katalog-button{
    width: 99.5%;
    height: 30px;
    background-color: rgb(243, 12, 116);
    border: 1px solid rgb(243, 12, 116);
    border-radius: 10px;
}
#button{
    width: 95%;
    height: 30px;
    background-color: rgb(243, 12, 116);
    border: 1px solid rgb(243, 12, 116);
    border-radius: 10px;
    text-align: center;
    color: white;
}

#input-text-name{
    width: 500px;
    height: 60px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 1.2em;
}
#input-text-Massage{
    width: 500px;
    height: 180px;
    text-align: center;
    font-size: 1.2em;
}
.sign-in{
    display: flex;
    flex-direction: row;
}
.profil-img{
    width: 500px;
    height: 500px;
    margin-left: 250px;
}
.button-1{
    width: 150px;
    height: 50px;
    border-top-left-radius:30px;
    border-bottom-right-radius: 30px;
    color: white;
    background: rgb(255, 0, 225);
    border: none;
}